absl-py==1.4.0
adal==1.2.7
adlfs==2023.1.0
aiobotocore==2.4.2
aiohttp==3.8.3
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.2
argcomplete==3.0.5
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asreview==1.2
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
asyncssh==2.13.1
atpublic==3.1.1
attrs==22.2.0
audioread==3.0.0
azure-core==1.26.3
azure-datalake-store==0.0.52
azure-identity==1.12.0
azure-storage-blob==12.15.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
bertviz==1.2.0
billiard==3.6.4.0
biobricks==0.1.57
bleach==6.0.0
blinker==1.6.2
boto3==1.24.59
botocore==1.27.59
Brotli==1.0.9
cachetools==5.3.0
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
CFGraph==0.2.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloup==2.0.0.post1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
configobj==5.0.8
coverage==7.2.2
crcmod==1.7
cryptography==40.0.1
curies==0.5.5
cycler==0.11.0
Cython==3.0.2
dataclasses-json==0.6.0
datahugger==0.3
debugpy==1.6.6
decorator==5.0.9
defusedxml==0.7.1
Deprecated==1.2.14
dictdiffer==0.9.0
dill==0.3.6
diskcache==5.4.0
distro==1.8.0
dm-tree==0.1.8
docutils==0.18.1
dpath==2.1.5
dulwich==0.21.3
dvc==2.52.0
dvc-azure==2.21.1
dvc-data==0.46.0
dvc-gdrive==2.19.1
dvc-gs==2.22.0
dvc-hdfs==2.19.0
dvc-http==2.30.2
dvc-objects==0.21.1
dvc-oss==2.19.0
dvc-render==0.3.1
dvc-s3==2.21.0
dvc-ssh==2.21.0
dvc-studio-client==0.6.1
dvc-task==0.2.0
dvc-webdav==2.19.1
dvc-webhdfs==2.19.0
emoji==2.8.0
et-xmlfile==1.1.0
etils==1.0.0
exceptiongroup==1.1.1
fastapi==0.99.1
fastjsonschema==2.16.2
filelock==3.9.0
filetype==1.2.0
Flask==2.3.2
Flask-Cors==4.0.0
flatbuffers==23.1.21
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
funcy==2.0
gast==0.4.0
gcsfs==2023.1.0
gevent==22.10.2
gitdb==4.0.10
gitignorefile==1.1.2
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grandalf==0.8
graphviz==0.20.1
greenlet==2.0.1
grpcio==1.51.1
h11==0.14.0
hbreader==0.9.1
httpcore==0.16.3
httplib2==0.22.0
httptools==0.6.0
httpx==0.23.3
huggingface-hub==0.12.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==5.10.2
inflate64==0.3.1
iniconfig==2.0.0
ipykernel==6.21.2
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.1
isoduration==20.11.0
iterative-telemetry==0.0.8
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
json-flattener==0.1.9
json5==0.9.14
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonpatch==1.33
jsonpath-ng==1.5.3
jsonpointer==2.3
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.5.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.25.0
keras==2.11.0
kiwisolver==1.4.4
knack==0.10.1
kombu==5.2.4
langsmith==0.0.40
libclang==15.0.6.1
linkml==1.5.6
linkml-dataops==0.1.0
linkml-runtime==1.5.4
logger==1.4
lxml==4.9.3
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib
matplotlib-inline
mdurl==0.1.2
mistune==2.0.5
monotonic==1.6
mpmath==1.3.0
msal==1.21.0
msal-extensions==1.0.0
multidict==6.0.4
multiprocess==0.70.14
multivolumefile==0.2.3
mypy-extensions==1.0.0
nanotime==0.5.2
natsort==8.4.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.0
nlpaug==1.1.7
nltk==3.6.6
notebook==6.5.2
notebook_shim==0.2.2
numexpr
numpy
oauth2client==4.1.3
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.9
oss2==2.17.0
ossfs==2021.8.0
overrides==7.4.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.2
pathspec==0.11.1
pdf2image==1.16.3
pdfminer==20191125
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.2.0
pluggy==1.0.0
ply==3.11
pooch==1.6.0
portalocker==2.0.0
posthog==3.0.2
prefixcommons==0.1.12
prefixmaps==0.1.5
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pulsar-client==3.3.0
py7zr==0.20.4
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==1.0.1
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.9
pydot==1.4.2
PyDrive2==1.15.2
pygit2==1.12.0
Pygments==2.14.0
pygtrie==2.5.0
PyJSG==0.11.10
PyJWT==2.6.0
pynndescent==0.5.8
pyOpenSSL==23.1.1
pyparsing==3.0.9
PyPika==0.48.9
pyppmd==1.0.0
pyrsistent==0.19.3
PyShEx==0.8.1
PyShExC==0.9.1
pytest==7.2.2
pytest-cov==4.0.0
pytest-logging==2015.11.4
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2023.6.15
python-json-logger==2.0.6
python-libsbml==5.20.2
python-magic==0.4.27
PyTrie==0.4.0
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
pyzstd==0.15.3
qtconsole==5.4.0
QtPy==2.3.0
rdflib==6.3.2
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
referencing==0.30.2
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.3.3
rispy==0.7.1
rouge-score==0.0.4
rpds-py==0.10.3
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3fs==2023.1.0
s3transfer==0.6.0
sacrebleu==1.5.1
scikit-learn==1.2.1
scikit-multilearn==0.2.0
scipy==1.10.0
scisort==0.5.3
scitree==0.5.3
scmrepo==0.2.0
seedir==0.4.2
Send2Trash==1.8.2
sentencepiece==0.1.97
seqeval==1.2.2
ShExJSG==0.8.2
shortuuid==1.0.11
shtab==1.6.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.4
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==7.2.6
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
SQLAlchemy==2.0.17
sqltrie==0.3.0
sshfs==2023.1.0
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
termcolor==2.2.0
terminado==0.17.1
texttable==1.6.7
threadpoolctl==3.1.0
tiktoken==0.5.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
torch==1.13.1
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
umap-learn==0.5.1
unstructured==0.10.16
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.23.2
uvloop==0.17.0
vine==5.0.0
voluptuous==0.13.1
watchdog==3.0.0
watchfiles==0.20.0
wcwidth==0.2.5
webcolors==1.12
webdav4==0.9.8
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.3.6
widgetsnbextension==4.0.5
wrapt==1.14.1
xlrd==2.0.1
xxhash==3.2.0
yarl==1.8.2
zc.lockfile==3.0.post1
zipp==3.13.0
zope.event==5.0
zope.interface==6.0
